<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helloservlet</servlet-name>
    <servlet-class>com.shopping.servlet.cateDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>proServlet</servlet-name>
    <servlet-class>com.shopping.servlet.proServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>provServlet</servlet-name>
    <servlet-class>com.shopping.servlet.provServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>provServlet</servlet-name>
    <url-pattern>/Admin/providers/provServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admLogServlet</servlet-name>
    <servlet-class>com.shopping.servlet.admLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admLogServlet</servlet-name>
    <url-pattern>/admlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>helloservlet</servlet-name>
    <url-pattern>/Admin/categorys/cateDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>proServlet</servlet-name>
    <url-pattern>/Admin/products/proServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>charsetFilter</filter-name>
    <filter-class>com.shopping.filter.charsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>charsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>checkLogin</filter-name>
    <filter-class>com.shopping.filter.checkLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>checkLogin</filter-name>
    <url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.shopping.listener.OnlineUserListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.shopping.listener.mylitener</listener-class>
  </listener>
  <listener>
    <listener-class>com.shopping.listener.LoginUserListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>customerServlet</servlet-name>
    <servlet-class>com.shopping.servlet.customerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderTwoServlet</servlet-name>
    <servlet-class>com.shopping.servlet.OrderTwoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>employServlet</servlet-name>
    <servlet-class>com.shopping.servlet.employServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.shopping.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerServlet</servlet-name>
    <url-pattern>/Admin/customers/customerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderTwoServlet</servlet-name>
    <url-pattern>/Admin/orders/OrderTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employServlet</servlet-name>
    <url-pattern>/Admin/employees/employServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/Admin/products/FileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlets.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.servlets.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>com.servlets.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/ShowProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortProductServlet</display-name>
    <servlet-name>SortProductServlet</servlet-name>
    <servlet-class>com.servlets.SortProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortProductServlet</servlet-name>
    <url-pattern>/SortProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProDetailServlet</display-name>
    <servlet-name>ShowProDetailServlet</servlet-name>
    <servlet-class>com.servlets.ShowProDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProDetailServlet</servlet-name>
    <url-pattern>/ShowProDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.servlets.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/ShowCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageServlet</display-name>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>com.servlets.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/ManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindMessServlet</display-name>
    <servlet-name>FindMessServlet</servlet-name>
    <servlet-class>com.servlets.FindMessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMessServlet</servlet-name>
    <url-pattern>/FindMessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.servlets.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.servlets.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCartServlet</display-name>
    <servlet-name>DelCartServlet</servlet-name>
    <servlet-class>com.servlets.DelCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCartServlet</servlet-name>
    <url-pattern>/DelCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCartServlet</display-name>
    <servlet-name>EditCartServlet</servlet-name>
    <servlet-class>com.servlets.EditCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCartServlet</servlet-name>
    <url-pattern>/EditCartServlet</url-pattern>
  </servlet-mapping>
</web-app>